{% extends "base.html" %}

{% block content %}

    <div class="row mt-5" style="padding-top: 100px; padding-bottom: 100px;">
             
        <div class="col-1"></div>
        <div class="col-6  shadow">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="num1">Number 1</label>
                  <input type="number" step="any" class="form-control" name="num1" required>
                </div>
                <div class="form-group">
                  <label for="num2">Number 2</label>
                  <input type="number" step="any" class="form-control" name="num2" required>
                </div>

                <br>

                <button type="submit" name="add" class="btn btn-primary col-5">+</button>
                <button type="submit" name="sub" class="btn btn-primary col-5">-</button><br>
                <br><button type="submit" name="div" class="btn btn-primary col-5">/</button>
                <button type="submit" name="mul" class="btn btn-primary col-5">*</button><br>
              <br></form>
        </div>
        <div class="col-1"></div>
        <div class="col-2 shadow">
            <h1 class="display-1 mx-auto" style="text-align: center;
                                                 padding-top: 75px;">{{result}}</h1>
        </div>
    </div>

{% endblock %}
