{% extends "base.html" %}

{% block content %}
  <div class="container marketing">
    <hr class="featurette-divider">
    {% for history_unit in history %}
      <div class="row featurette text-white bg-dark">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ history_unit.result }}</h2>
        <p class="lead">{{ history_unit.input }}</p>
      </div>
    </div>

    <hr class="featurette-divider">
    {% endfor %}

<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="?page={{ page_number|add:-1 }}">Previous</a>
    </li>
      {% for i in pages_count|get_range %}
    <li class="page-item {% if i == page_number %} active {% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endfor %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_number|add:1 }}">Next</a>
    </li>
</ul>
</nav>

    <!-- /END THE FEATURETTES -->
{% endblock %}