{% extends "base.html" %}

{% block content %}

    <div class="row mt-5" style="padding-top: 100px; padding-bottom: 100px;">

        <div class="col-1"></div>
        <div class="col-6  shadow">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="side_length">Side Length (cm)</label>
                  <input type="number" step="any" class="form-control" name="side_length">
                </div>

                <br>

                <button type="submit" name="calculate" class="btn btn-primary col-5" style="margin-bottom: 15px;">Calculate</button>
              <br></form>
        </div>
        <div class="col-1"></div>
        <div class="col-3 shadow">
            <h1 class="display-1 mx-auto" style="text-align: center; margin-top: 15px; width: 100%">{{result}} cm²</h1>
        </div>
    </div>

{% endblock %}
