{% extends "base.html" %}

{% block content %}

    <div class="row mt-5" style="padding-top: 100px; padding-bottom: 100px;">
             
        <div class="col-1"></div>
        <div class="col-6  shadow">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="number">Number</label>
                  <input type="number" step="any" class="form-control" name="number">
                </div>

                <br>

                <button type="submit" name="sin" class="btn btn-primary col-5">sin</button>
                <button type="submit" name="cos" class="btn btn-primary col-5">cos</button><br>
                <br><button type="submit" name="tan" class="btn btn-primary col-5">tan</button><br>
              <br></form>
        </div>
        <div class="col-1"></div>
        <div class="col-4 shadow">
            <h1 class="display-1 mx-auto" style="text-align: center;
                                                 padding-top: 75px;">{{result}}</h1>
        </div>
    </div>

{% endblock %}
